.DS_Store
__pycache__/
.venv/
.matplotlib/
.matplotlib_cache/
.cache/

data/expression/
data/expression_cleaned/
data/model_ready/
data/secondary_screen/
data/gdsc_metadata_expression_top500.csv
secondary-screen-dose-response-curve-parameters.csv

results/
figures/
